body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
/* main conetainer */
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content */

.main-content {
  padding: 40px 80px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.main-content-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.main-content-divider {
  color: #000;
}

/* about me */

.about-me {
  margin: 0 0 40px 0;
}

.adout-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20 0;
}

.adout-me-description {
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #595959;
}

/* my projects */

.my-projects {
  margin: 0 0 50px 0;
}

.my-projects-item {
  font-weight: bold;
  color: #000;
}

.my-projects-list {
  padding-left: 25px;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 0 5px;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.projects-description {
  margin: 0;
  /* width: 400px; */
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #706c6c;
}

/* my work experience */

.my-work-experience-block {
  margin: 0 0 20px 0;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 15 0;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-duties {
  padding-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my education */

.my-education-place {
  color: #fb6d3a;
}
.my-education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

/* sidebar */

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.img {
  width: 370px;
  max-height: auto;
}

.contacts-icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  margin: 0 10px 0 5px;
}

.contacts,
.tech-scills,
.soft-skills,
.languages {
  margin: 50px 0 0 40px;
}

.sidibar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* contacts */

.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565f6b;
}

/* tech skills */
/* soft skills */

.tech-skills-list,
.soft-skills-list,
.languages-list {
  padding-left: 17px;
}

.tech-skills-item,
.soft-skills-item,
.languages-item {
  color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text,
.languages-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
